@import url("https://fonts.googleapis.com/css?family=Public+Sans:400&display=swap");

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-ThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-RegularItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: BrandonText;
    src: url("/fonts/BrandonText-MediumItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
