// Headings

h1 {
    line-height: $h1-line-height;
    font-size: $h1-font-size;
}

h2 {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
}

h3 {
    line-height: $h3-line-height;
    font-size: $h3-font-size;
}

h4 {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
}

h5 {
    line-height: $h5-line-height;
    font-size: $h5-font-size;
}
