/**
 * Responsive size for various media query breakpoints
 *
 * Usage:
 * @include size('h', 10px, 20px, 30px, 40px, 50px);
 * @include size('type', xs, sm, md, lg, xl);

 * If you want to omit specific breakpoint please use ''
 * e.g. @include size('h', 10px, '', '', 40px, 50px);

   Type:

   h    : height,
   minh : min-height,
   maxh : max-height,
   w    : width,
   minw : min-width,
   maxw : max-width
 */

@mixin size(
    $type: null,
    $size-xs: null,
    $size-sm: null,
    $size-md: null,
    $size-lg: null,
    $size-xl: null,
    $size-xxl: null
) {
    @if ($type == "h") {
        $type: "height";
    }
    @if ($type == "w") {
        $type: "width";
    }
    @if ($type == "minh") {
        $type: "min-height";
    }
    @if ($type == "minw") {
        $type: "min-width";
    }
    @if ($type == "maxh") {
        $type: "max-height";
    }
    @if ($type == "maxw") {
        $type: "max-width";
    }
    @if ($size-xs != "") {
        #{$type}: $size-xs;
    }
    @if ($size-sm != "") {
        @include media-breakpoint-up(sm) {
            #{$type}: $size-sm;
        }
    }
    @if ($size-md != "") {
        @include media-breakpoint-up(md) {
            #{$type}: $size-md;
        }
    }
    @if ($size-lg != "") {
        @include media-breakpoint-up(lg) {
            #{$type}: $size-lg;
        }
    }
    @if ($size-xl != "") {
        @include media-breakpoint-up(xl) {
            #{$type}: $size-xl;
        }
    }
    @if ($size-xxl != "") {
        @include media-breakpoint-up(xxl) {
            #{$type}: $size-xxl;
        }
    }
}
