<template>
  <layout-page name="faq" class="faq__content" padded>
    <vue-headful :title="fullTitle" />

    <b-row tag="section" class="page__section">
      <b-col>
        <b-row style="background-color: white; padding: 20px" class="text-center">
          <b-col class="text-center">
            <p>
              Vous trouverez réponses à la majorité des questions les plus populaires ci-dessous.
            </p>

            <p>
              Si vous ne trouvez pas la réponse à vos questions ou souhaitez faire des suggestions,
              rendez-vous sur
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSd-O_aK6WycUjD2Vd3Xsle_UwV61P84-3kFZGzWAzeASg2bHA/viewform"
                target="_blank"
                >notre formulaire de suggestions</a
              >.
            </p>

            <p>
              Pour tout autre besoin, nous sommes joignables via
              <strong>info@locomotion.app</strong> ou au <strong>(438) 476-3343</strong> pour les
              urgences cadenas uniquement.
            </p>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row tag="section" class="page__section">
      <b-col>
        <b-row>
          <b-col lg="6" class="page__section__content" v-for="s in 11" :key="`section-${s}`">
            <h2 v-html="$t('faq.sections.' + (s - 1) + '.title')" />

            <div role="tablist">
              <faq-item
                v-for="q in parseInt($t('faq.sections.' + (s - 1) + '.count'), 11)"
                :key="`section-${s}-question-${q}`"
                :id="`section-${s}-question-${q}`"
                :title="$t(`faq.sections.${s - 1}.questions.${q - 1}.title`)"
              >
                <div v-html="$t(`faq.sections.${s - 1}.questions.${q - 1}.content`)" />
              </faq-item>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </layout-page>
</template>

<script>
import FaqItem from "@/components/Misc/FaqItem.vue";

import Authenticated from "@/mixins/Authenticated";

import { capitalize } from "@/helpers/filters";

export default {
  name: "Home",
  mixins: [Authenticated],
  components: {
    FaqItem,
  },
  computed: {
    fullTitle() {
      const parts = ["LocoMotion", capitalize(this.$i18n.t("titles.faq"))];

      return parts.reverse().join(" | ");
    },
  },
};
</script>

<style lang="scss">
.page.faq {
  .page__background {
    background: #f5f8fb;
    background-image: url("/home-motif.png");
    background-repeat: repeat;
  }

  .page__section__content {
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
      color: $secondary;
    }
  }

  .card {
    border: 0;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .card-header {
    margin: 0;
    padding: 0;
  }
}
</style>
